.avatar-large{
   border-radius: 0 !important; 
}
.avatar-1BXaQj{
   border-radius: 0 !important; 
}
.avatar-profile{
   border-radius: 0 !important; 
}
.avatar-small{
   border-radius: 0 !important; 
}
.avatar-xlarge{
   border-radius: 0 !important; 
}
.avatar-xsmall{
   border-radius: 0 !important; 
}
.avatar-xxlarge{
   border-radius: 0 !important; 
}
.avatar-popout{
   border-radius: 0 !important; 
}
.avatar-hint{
   border-radius: 0 !important; 
}
.message-group .avatar-large{
   border-radius: 0 !important; 
}
.avatar-wrapper {
    border-radius: 0 !important;

}
